@using AutoFP.Gerencia.Domain.ValueObjects.Enums
@model AutoFP.Gerencia.MVC.UI.ViewModel.Cliente.NewClienteViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Registro de cliente</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Registro de novo cliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-1"></div>
        <div class="col-sm-2">
            <label for="rdnPF">Pessoa física</label>
            @Html.RadioButtonFor(x => x.IsPessoaFisica, true, new {id = "rdnPF", @class = "gpTipoPessoa" })
        </div>
        <div class="col-sm-2">
            <label for="rdnPJ">Pessoa jurídica</label>
            @Html.RadioButtonFor(x => x.IsPessoaFisica, false, new {id = "rdnPJ", @class = "gpTipoPessoa" })
        </div>
        @Html.ValidationMessageFor(model => model.IsPessoaFisica, "", new {@class = "text-danger"})
    </div>

    <div class="col-md-8" id="divPessoaFisica">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Pessoa física
                </h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sobrenome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8" id="divPessoaJuridica">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Pessoa jurídica
                </h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Cnpj, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cnpj, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cnpj, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RazaoSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RazaoSocial, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NomeFantasia, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NomeFantasia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NomeFantasia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InscricaoEstadual, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InscricaoEstadual, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.InscricaoEstadual, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Isento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Isento)
                            @Html.ValidationMessageFor(model => model.Isento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.InscricaoMunicipal, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InscricaoMunicipal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InscricaoMunicipal, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Endereço de cobrança
                </h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Cep, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cep, new {htmlAttributes = new {@class = "form-control", id = "cep" }})
                        @Html.ValidationMessageFor(model => model.Cep, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Logradouro, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Logradouro, new {htmlAttributes = new {@class = "form-control", id = "rua" }})
                        @Html.ValidationMessageFor(model => model.Logradouro, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Numero, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Numero, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Numero, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Complemento, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Complemento, new {htmlAttributes = new {@class = "form-control", id = "complemento" } })
                        @Html.ValidationMessageFor(model => model.Complemento, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Bairro, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Bairro, new {htmlAttributes = new {@class = "form-control", id = "bairro" } })
                        @Html.ValidationMessageFor(model => model.Bairro, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cidade, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", id = "cidade" } })
                        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Estado, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Estado, new {htmlAttributes = new {@class = "form-control", id = "uf"}})
                        @Html.ValidationMessageFor(model => model.Estado, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PontoReferencia, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PontoReferencia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PontoReferencia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsEntrega)
                            @Html.LabelFor(model => model.IsEntrega, htmlAttributes: new {@class = "control-label"})
                            @Html.ValidationMessageFor(model => model.IsEntrega, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8" id="divEnderecoEntrega">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Endereço de entrega
                </h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Cep2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cep2, new { htmlAttributes = new { @class = "form-control", id = "cep2" } })
                        @Html.ValidationMessageFor(model => model.Cep2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Logradouro2, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Logradouro2, new {htmlAttributes = new {@class = "form-control", id = "rua2" }})
                        @Html.ValidationMessageFor(model => model.Logradouro2, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Numero2, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Numero2, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Numero2, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Complemento2, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Complemento2, new {htmlAttributes = new {@class = "form-control", id = "complemento2" }})
                        @Html.ValidationMessageFor(model => model.Complemento2, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Bairro2, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Bairro2, new {htmlAttributes = new {@class = "form-control", id = "bairro2" } })
                        @Html.ValidationMessageFor(model => model.Bairro2, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cidade2, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cidade2, new { htmlAttributes = new { @class = "form-control", id = "cidade2" } })
                        @Html.ValidationMessageFor(model => model.Cidade2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Estado2, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Estado2, new { htmlAttributes = new { @class = "form-control", id = "uf2" } })
                        @Html.ValidationMessageFor(model => model.Estado2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PontoReferencia2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PontoReferencia2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PontoReferencia2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Contato
                </h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Telefone principal</div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TipoTelefone1, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.DropDownListFor(x => x.TipoTelefone1, EnumHelper.GetSelectList(typeof (TipoTelefone)), new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.TipoTelefone1, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TelefoneNumero1, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TelefoneNumero1, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.TelefoneNumero1, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Telefone secundário</div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TipoTelefone2, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.DropDownListFor(x => x.TipoTelefone2, EnumHelper.GetSelectList(typeof (TipoTelefone)), new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.TipoTelefone2, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TelefoneNumero2, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TelefoneNumero2, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.TelefoneNumero2, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Registrar cliente" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retornar para listagem", "Index")
</div>

@Scripts.Render("~/bundles/cliente")